{{! ADD STATIC PAGE LINKS HERE }}
{{! REMOVE THE DEFAULT LINKS BELOW IF NOT USED }}
{{! REPEAT BY ADDING LINKS TO THE FOOTER BELOW AS COMMENTED }}
<ul class="menu">
	<li><a href="/about/">About</a></li>
	<li>
		<a href="#">Features <i class="fa fa-chevron-down"></i></a>
		{{! BELOW IS A NESTED MENU }}
		<ul>
			<li><a href="/getting-started-with-yeoman-grunt/">Featured Post</a></li>
			<li><a href="/responsive-mobile-design/">Feature Post</a></li>
			<li><a href="/orca-ghost-theme/">Banner Title Post</a></li>
			<li><a href="/social-profiles/">Standard Post</a></li>
		</ul>
	</li>
	<li><a href="/contact/">Contact</a></li>
	<li><a href="http://themeforest.net/user/EckoThemes/portfolio">Buy Duo</a></li>
</ul>