{{! ADD AUTHOR SOCIAL LINKS HERE }}
{{! THESE SOCIAL LINKS WILL APPEAR IN THE PAGE SIDEBAR }}
{{! REMOVE ANY UNWATED LINKS }}

{{! TWITTER }}
<a href="http://twitter.com" target="_blank" class="social social_outline twitter"><i class="fa fa-twitter"></i></a>

{{! FACEBOOK }}
<a href="http://facebook.com" target="_blank" class="social social_outline facebook"><i class="fa fa-facebook"></i></a>

{{! GOOGLE+ }}
<a href="http://plus.google.com" target="_blank" class="social social_outline google"><i class="fa fa-google-plus"></i></a>

{{! DRIBBBLE }}
<a href="http://dribbble.com" target="_blank" class="social social_outline dribbble"><i class="fa fa-dribbble"></i></a>

{{! INSTAGRAM }}
<a href="http://instagram.com" target="_blank" class="social social_outline instagram"><i class="fa fa-instagram"></i></a>

{{! RSS - LEAVE DEFAULT }}
<a href="{{@blog.url}}/rss/" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a>

{{! GITHUB }}
<a href="http://github.com" target="_blank" class="social social_outline github"><i class="fa fa-github"></i></a>

{{! YOUTUBE }}
<a href="http://youtube.com" target="_blank" class="social social_outline youtube"><i class="fa fa-youtube"></i></a>

{{! PINTEREST }}
<a href="http://pinterest.com" target="_blank" class="social social_outline pinterest"><i class="fa fa-pinterest"></i></a>

{{! LINKEDIN }}
<a href="http://linkedin.com" target="_blank" class="social social_outline linkedin"><i class="fa fa-linkedin"></i></a>

{{! SKYPE }}
<a href="http://skype.com" target="_blank" class="social social_outline skype"><i class="fa fa-skype"></i></a>

{{! TUMBLR }}
<a href="http://tumblr.com" target="_blank" class="social social_outline tumblr"><i class="fa fa-tumblr"></i></a>